<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatbot🌾</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Your existing CSS styles can be placed here */
    </style>
</head>

<body>

    <div class="container">
        <h2>Chatbot 🌾</h2>



        <div id="chat-container">
              <!-- Google Translate Element -->
        <div id="google_translate_element"></div>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script>
            function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                    { pageLanguage: 'en' },
                    'google_translate_element'
                );
            }
        </script>
            <div id="chat-messages">
                {% for message in messages %}
                <p>{{ message.content }}</p>

                {% endfor %}
            </div>
            <div id="chat-input">
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="text" id="user-input" name="message" placeholder="Type your message..." class="form-control">
                    <button type="submit" id="send-button" class="btn btn-danger">Send</button>
                </form>
            </div>
        </div>

    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
